<form method="POST" action="/behavior/reporting/evening">
    <label for="eveningDate">Date</label>
    <input id="eveningDate" type="date" name="date" value="<%= new Date().toISOString().slice(0, 10) %>"/>

    <label for="sportsTime">Time on sports and exercising</label>
    <input id="sportsTime" type="number" name="sportsTime"/>

    <label for="studyingTime">Time on studying</label>
    <input id="studyingTime" type="number" name="studyingTime"/>

    <label for="eatingQuality">Eating quality</label>
    <input id="eatingQuality" type="range" name="eatingQuality" min="1" max="5"/>

    <label for="eveningMood">Mood</label>
    <input id="eveningMood" type="range" name="mood" min="1" max="5"/>

    <input type="submit" value="Submit"/>
</form>