<form method="POST" action="/behavior/reporting/morning">
    <label for="morningDate">Date</label>
    <input id="morningDate" type="date" name="date" value="<%= new Date().toISOString().slice(0, 10) %>" />

    <label for="sleepDuration">Sleep duration (hours)</label>
    <input id="sleepDuration" type="number" name="sleepDuration"/>

    <label for="sleepQuality">Sleep quality</label>
    <input id="sleepQuality" type="range" name="sleepQuality" min="1" max="5"/>

    <label for="morningMood">Mood</label>
    <input id="morningMood" type="range" name="mood" min="1" max="5"/>

    <input type="submit" value="Submit"/>
</form>