<form>
    <input type="date" name="date"/>
    <input type="number" name="sleepDuration"/>
    <input type="number" name="sleepQuality"/>
    <input type="number" name="mood"/>
    <input type="submit" value="Submit"/>
</form>