<%- include('./partials/header.ejs') %>
<h2>Evening reporting</h2>
<%- include('./partials/logout.ejs') %>
<%- include('./partials/eveningForm.ejs') %>
<a href="/behavior/reporting" class="button">Back</a>
<%- include('./partials/footer.ejs') %>
