<%- include('./partials/header.ejs') %>
<%- include('./partials/topRow.ejs', {loggedIn: true}) %>

<h2>Evening reporting</h2>
<%- include('./partials/eveningForm.ejs', report) %>
<a href="/behavior/reporting" class="button">Back</a>
<%- include('./partials/footer.ejs') %>
