<%- include('./partials/header.ejs') %>
<h1>Monitoring app</h1>
<a href="/auth/register">Register</a>
<a href="/auth/login">Login</a>
<a href="/behavior/reporting">Report</a>
<%- include('./partials/footer.ejs') %>
