<%- include('./partials/header.ejs') %>
<h2>Morning reporting</h2>
<%- include('./partials/logout.ejs') %>
<%- include('./partials/morningForm.ejs') %>
<a href="/behavior/reporting" class="button">Back</a>
<%- include('./partials/footer.ejs') %>
