<%- include('./partials/header.ejs') %>
<%- include('./partials/topRow.ejs', {loggedIn: true}) %>
<div style="display: flex; flex-direction: column;">

    <% if (morningDone) { %>
        <a href='/behavior/reporting/morning' class="button">Morning reporting (done for today)</a>
    <% } else { %>
        <a href='/behavior/reporting/morning' class="button">Morning reporting</a>
    <% } %>

    <% if (eveningDone) { %>
        <a href='/behavior/reporting/evening' class="button">Evening reporting (done for today)</a>
    <% } else { %>
        <a href='/behavior/reporting/evening' class="button">Evening reporting</a>
    <% } %>
    <a href='/behavior/summary' class="button">Go to summary</a>
    <%- include('./partials/footer.ejs') %>
</div>