<%- include('./partials/header.ejs') %>
<a href='/behavior/reporting/morning'>Morning reporting</a>
<a href='/behavior/reporting/evening'>Evening reporting</a>
<%- include('./partials/footer.ejs') %>
